header{
    width: 100%;
    height: 20vh;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cuadro_izquierdo{
    width: 10vw;
    height: 5vh;
    margin: 5%;
    background-color: lightgrey;
    padding: 2%;
}

nav{
    height: 50%;
    width: 40%;
    
}
.lista{
    list-style-type: none;
}


ul#primera_lista li{
    float: left;
    margin: 4%;
    background-color: cornflowerblue;
    padding: 2%;

}

.container{
    display: flex;
}

section#section_left{
    width: 65vw;
    height: 70vh;
    background-color: darkturquoise;
}

img{
    display: block;
    width: 60%;
    height: 70%;
    margin: auto;
    border: 2px solid black;
}

span#texto_section{
    margin-left: 30%;
}

section#container_inside{
    flex-direction: column;
}

#art1{
    align-self: flex-start;
    background-color: darkorchid;
    width: 35vw;
    height: 35vh;
}

#art2{
    width: 35vw;
    height: 35vh;
    background-color: darkgreen;
}

footer{
    background-color: gold;
    width: 100%;
    height: 10vh;
}

span#texto_footer{
    margin: 3%;
}